---
Language: Cpp

BasedOnStyle: Microsoft

IndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: DontAlign
AlignArrayOfStructures: Left
AlignEscapedNewlines: DontAlign
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PenaltyReturnTypeOnItsOwnLine: 1024
PenaltyBreakBeforeFirstCallParameter: 0
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketBracedList: false
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakFunctionDefinitionParameters: true
BracedInitializerIndentWidth: 4
# BreakBeforeBinaryOperators: All

PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

BreakAfterReturnType: None
UseTab: Never
IndentWrappedFunctionNames: true
RequiresExpressionIndentation: OuterScope
IndentCaseBlocks: false
IndentCaseLabels: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

RequiresClausePosition: OwnLine

AccessModifierOffset: -4

SortIncludes: 
  Enabled: false
# PackParameters:
#   BinPackParametersStyle: OnePerLine
BreakBinaryOperations: OnePerLine
BinPackArguments: true
BinPackParameters: AlwaysOnePerLine
BinPackLongBracedList: true
BitFieldColonSpacing: None
BreakBeforeBraces: Custom
InsertBraces: true

ConstructorInitializerAllOnOneLineOrOnePerLine: true

BreakAfterAttributes: Always
StatementMacros:
  - OgMacroCBlockBegin 
  - OgMacroCBlockEnd 

StatementAttributeLikeMacros:
  - Q_EMIT
  - OgMacroExport
  - OgMacroExtern

WhitespaceSensitiveMacros:
  - OgMacroGNU 
  - OgMacroMsvc

AttributeMacros:
  - __capability
  - __output
  - __ununsed
  - OgMacroGNU(__attribute__((*)))
  - OgMacroMsvc(_*_) 
  - __attribute__((*))
  - OgMacroExport
  - OgMacroExtern
  - OgMacroThreadLocal 
  - OgMacroAlwaysInline 

# Macros:
#   - OG_MACRO_MSVC(x)=x
#   - OG_MACRO_GNU(x)=x
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
