---
Language: Cpp

BasedOnStyle: Microsoft

IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: None
PenaltyReturnTypeOnItsOwnLine: 1024
PenaltyBreakBeforeFirstCallParameter: 0
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketBracedList: false
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: false
BreakFunctionDefinitionParameters: true
AllowAllArgumentsOnNextLine: false
ContinuationIndentWidth: 4
BracedInitializerIndentWidth: 4
BreakBeforeBinaryOperators: All

# BreakAfterReturnType: Automatic
BreakAfterReturnType: None

IndentWrappedFunctionNames: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

# PPIndentWidth: 2
# IndentPPDirectives: AfterHash

RequiresClausePosition: OwnLine

AccessModifierOffset: -4

SortIncludes: 
  Enabled: false
# PackParameters:
#   BinPackParametersStyle: OnePerLine
BreakBinaryOperations: OnePerLine
BinPackParameters: OnePerLine
BinPackArguments: true
BinPackLongBracedList: true

BitFieldColonSpacing: None
BreakBeforeBraces: Custom
BreakAfterAttributes: Always
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
