Checks: >
  -*,
  clang-analyzer-*,
  # bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  performance-*
  misc-*,
  cert-*,
  -bugprone-assignment-in-if-condition,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  clang-analyzer-core.NullDereference

