# Build directories and binary files
build/
out/
cmake-build-*/
conan-cache/
host/

# 代码评估
fuck-u-code
CMakeUserPresets.json
.vs/
.idea/
.qtcreator/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.kdev4/
*.swp
*~
_ReSharper*
*.log
vc*

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.Trash-*
$RECYCLE.BIN/
.TemporaryItems
ehthumbs.db
Thumbs.db

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/
.ccls-cache/
vcpkg_installed/
CMakeUserPresets.json
debug/
target/
**/*.rs.bk
*.pdb
zig-out/
.zig-cache/
Cargo.lock
